<% if genre.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.downcase %> from being saved:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: genre, html:{class:"new-form"}, local: true) do |form| %>
  <div class="field">
    <%= form.label :genre_type %>
    <%= form.text_field :genre_type, placeholder:"Genre name"%>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, placeholder:"Give a breif summary about your Genre"%>
  </div>

  <div class="field">
    <h2>Animes</h2>
    <%= link_to_add_association 'Add Anime', form, :anime_genres, class:"add-anime", data: {association_insertion_method: 'after' } %>
    <div class="anime-list">
 <%=form.fields_for :anime_genres do |f| %>
  <%=render'type_anime_genre_fields', f: f%>
    <%end%>
    </div>
   
  </div>
  


  <div class="actions">
    <%= form.submit class:"submit"%>
  </div>
<% end %>

