<h1>New Genre</h1>
<%= form_for(@genre) do |f| %>

  <div class="field">
    <%=f.label :genre_type %>
    <%=f.text_area :genre_type %>
  </div>

  <div class="field">
    <%=f.label :body %>
    <%=f.text_area :body %>
  </div>

  <ul>
    <%= f.fields_for :animes do |anime_form| %>
    <li><%=anime_form.label :title %></li>
      <li><%=anime_form.text_field :title %></li>
      <li><%=anime_form.label :description %></li>
      <li><%=anime_form.text_field :description %></li>

      <li><%=anime_form.label :episodes %></li>
      <li><%=anime_form.text_field :episodes %></li>
    <% end %>
  </ul>

  <div>
    <%= f.submit %>
  </div>
<% end %>