<div class="gshow-body">
   <%if current_user.has_role?(:site_admin)%>
  <div class="admin-utils">
<p><%=link_to "Back to genre", genres_path, class:"back-genre" %></p>
<p><%=link_to "Edit genre", edit_genre_path(@genre), class:"edit-genres"%></p>
  <%= button_to @genre, method: :delete, class:"delete-btn" do%>
  <%=content_tag(:i, "", class:"fa-solid fa-trash")%>
  <%end%>
  </div>
<%end%>
<h1><%=@genre.genre_type %></h1>
<%=image_tag random_image(@genre.id), class:"genre-show-image", height:"290px", width:"300px" %>
<h2>About <%=@genre.genre_type%></h2>
<p class="g-bod"><%=@genre.body%></p>
<h2>Animes</h2>


<div class="alphabet-filter">
  <% ("A".."Z").each do |letter| %>
    <% if letter == @active_letter %>
      <span class="active-letter"><%= letter %></span>
    <% else %>
      <%= link_to letter, genre_show_path(letter: letter) %>
    <% end %>
  <% end %>
</div>
<div class="genre-list">
  <% if @genre_letter.any? %>
    <% @genre_letter.each do |anime| %>
      <div class="genre-column">
        
        <%= link_to "#{anime.title}", anime_path(anime.slug) , class:"anime-title"%>
      
      </div>
    <% end %>
  <% else %>
    <p>No anime titles start with "<%= @active_letter %>".</p>
  <% end %>
</div>
<%= paginate @genre_letter %>
</div>





