<% if object.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(object.errors.count, "error") %> prohibited this <%= object.class.name.downcase %> from being saved:</h2>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: object, html:{class:"new-form"}, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder:"Give your blog a title"%>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body, placeholder:"Give a breif summary about your blog"%>
  </div>
   <div class="field">
    <%= form.label :blog_image%>
      <%= form.file_field :blog_image %>
       <% if @blog.new_record? %>
      <%= form.hidden_field :image, value: url_for(current_user.profile_picture) %>
       <%= form.hidden_field :author, value: current_user.name %>
    <% else %>
      <%= form.hidden_field :image, value: @blog_image %>
       <%= form.hidden_field :author, value: @blog_author%>
  <% end %>
  </div>
  <div class="field">
    <%= form.label :read %>
    <%= form.text_field :read, placeholder:"The time required to read"%>
  </div>
  <div class="d-field">
    <%= form.label :description, "Content (Markdown supported)" %>
    <%= form.text_area :description, placeholder:"Give the full details about your blog and note markdown is supported", rows:15%>
  </div>

  <div class="actions">
    <%= form.submit class:"submit"%>
  </div>
<% end %>

