<h1>Edit Genre</h1>
<%= form_for(@blog) do |f| %>

  <div class="field">
    <%=f.label :title %>
    <%=f.text_area :title %>
  </div>

  <div class="field">
    <%=f.label :body %>
    <%=f.text_area :body %>
  </div>



  <div>
    <%= f.submit %>
  </div>
<% end %>

<div>
  <%= link_to "Show this blog", @blog %> |
  <%= link_to "Back to blogs", blogs_path %>
</div>
