<p style="color: green"><%= notice %></p>

<% content_for :title, "Blogs" %>

<h1>Anime BLOG</h1>

<div id="blogs">
  <% @blogs.each do |blog| %>

    <p>
      <%=link_to blog.title, blog_path(blog.id) %>
    </p>
    <p><%=blog.body %></p>
 <p><%=link_to blog.status, toggle_status_blog_path(blog)%></p>
  <% end %>
</div>

<%= link_to "New blog", new_blog_path %>
