<div class="comments">
 <div class="comment-card  <%= comment.user_id == current_user&.id ? 'own-comment' : 'other-comment' %>" data-comment-id="<%=comment.user_id%>" data-current-user-id="<%=current_user&.id%>">
  <div class="row">
    <div class="col-md-1">
        <div class="profile-pic">
          <%= profile_pic comment.user_id %>
        </div>
    </div>
    <div class="col-md-11">
      <div class="texts">
<h3><%= getUserName(comment.user_id) %></h3> 
        <p><%= comment.content %></p>
      </div>
  
    </div>
  </div>

  </div>
</div>
