<%if !animes.nil?%>
<% if !animes.empty?  %>
  <% animes.each do |anime| %>
  <%=link_to  anime_path(anime.slug), class:"search-result-item-link"  do%>
    <div class="search-result-item" style="width:100%">

     
      <img src="<%= anime.thumb_image %>" width="90" height="80px"  style="border-radius:40px; padding-left:10px; padding-top:10px; object-fit:cover;">
      <div class="search-result-row">
      <h3><%= anime.title %></h3>
      <p> TV - <%=anime.episodes%> (<%=anime.airing ? 'Finished Airing': 'Currently Airing'%>) </p>
      <p><%=anime.rating%>||<%=anime.year%></p>
      </div>
      
    </div>

  
   <% end %>
  <%end%>
<% else %>
  <div class="search-result-item" style="align-items: center; justify-content: center;"><p>No match found</p></div>
<% end %>
<%end%>
