
<div class="anime-card" data-id="<%= anime.id %>" >
   <%= link_to anime_path(anime.slug), class: 'anime-link' do%>
  <div class="anime-card-wrapper">
  <img src="<%= anime.thumb_image %>" class="card-image">
  <div class="hover-video">
  <%= render partial: "shared/home_video_thumb", locals: {id:anime.id} %>
  </div>
  </div>
 
   <div class="top-kon-rating">
   <%= content_tag(:i, " #{anime.rating}", class: "fas fa-star star-icon") %> 
  </div>
  
  <h3><%= anime.title %></h3>
  <p><%= anime.year %></p>
   
   <%end%>
</div>
