<div 
  class="collection-wrapper"
  data-controller="anime-collection"
  data-action="mouseenter->anime-collection#show mouseleave->anime-collection#hide"
>
  <% if !current_user.is_a?(GuestUser) %>
    <div class="add-collection" >
      <%= content_tag(:i, "  Add to Collection", class:"fa fa-plus collection-btn") %>
    </div>
<div class="collection-animation"   data-anime-collection-target="panel">
   <div 
      class="collection-animation-wrap"     
    >
    <div class="dot-wrap">
       <div class="first-dot" data-anime-collection-target="firstDot">
        <%= image_tag(@anime.thumb_image, class:'image') %>
      </div>
    </div>
       <div class="dot-wrap" >
        <div class="second-dot" data-anime-collection-target="secondDot">
        <%= image_tag(@anime.thumb_image, class:'image') %>
      </div>
       </div>

        <div class="dot-wrap-coll" style=""> 
          <div class="user-collections" 
        data-anime-collection-target="userCollections"
     style=" width: 100%;
  min-width: 0;" >
        <% if @user_collections.present? %>
          <% @user_collections.each do |user_collection| %>
            <div class="collection-container" style="  width: 100%;
">
              <div class="collection-pic">
                <%= image_tag("#{collection_first_pic(user_collection.id)}", alt: "External Image", class:"image") %>
              </div>
              <div class="collection-details">
                <h3><%= user_collection.name %></h3>
                <div class="collection-details-row">
                  <p><%= user_collection.animes.length %> items</p>
                  <% if user_collection.animes.include?(@anime) %>
                    <%= content_tag(:i, '', class:'fa-solid fa-check') %>
                    <p>Added</p>
                  <% end %>
                </div>
              </div>
              <%= button_to add_collection_path(@anime.slug, collection_id: user_collection),
                  method: :post,
                  class: "add-collection-link" do %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="collection-container" style="justify-content: center;">
            <p style="padding-top: 10px;">no collections found</p>
          </div>
        <% end %>
      </div>
    </div>

      
    </div>
</div>
   
  <% end %>
</div>
