<div class="overview">
    <div class="sized-box"></div>
    <div class="row">
      <div class="col-md-4 details">
     <h2>Details</h2>
     <div class="details-grid">
  
        <p>Type</p>
        <p style="margin-left: 20px; color:white">TV Show</p>
  
  
        <p>Episodes</hp>
        <p style="margin-left: 20px; color:white" ><%=anime.episodes%></p>
  
   
        <p>Genres</p>
        <p  style="margin-left: 20px; color:white"><%=anime.genres.first.genre_type%></p>
     
   
        <p>Airing</p>
        <p  style="margin-left: 20px; color:white"><%=anime.airing%></p>
      
     
        <p>Year</p>
        <p  style="margin-left: 20px; color:white"><%=anime.year%></p>
     
    
        <p>Source</p>
        <p  style="margin-left: 20px; color:white">Manga</p>
    
      
     </div>
     
      </div>
      <div class="col-md-8 description">
        <h2>Description</h2>
        <p><%=anime.description%></p>
      </div>
    </div>
    <div class="special-overview" data-controller="hover">
      <h2>Special for you</h2>
      <div class="anime-grid" id="anime-list" style="margin-top: 50px; padding:0;" data-hover-target="list">
        <% @animes.each do |anime_card| %>
        <%= render partial: "shared/anime_list", locals: {anime: anime_card} %>
        <% end %>
      </div>
      <button id="load-more-btn" data-hover-target="button" class="load-more-overview" onclick="loadMoreAnime()"><%= raw BootstrapIcons::BootstrapIcon.new("arrow-right").to_svg %>
      </button>
    </div>
  </div>