<div class="reviews-tab" data-controller="review-bottomsheet">
  <h2>Recent Reviews</h2>

  <!-- Write review button -->
  <div 
    class="review-btn"
    data-action="click->review-bottomsheet#open">
    <%= content_tag(:i, " Write a Review", class: "fa fa-plus review-text") %>
  </div>

  <!-- The modal/bottomsheet (this is the sheetTarget) -->
  <div 
    class="review-bottomsheet" 
    data-review-bottomsheet-target="sheet"
    sheet-bool="<%= @review.errors.any? ? 'true' : 'false' %>">
    <%= render 'shared/review_modal' %>
  </div>

  <!-- Comments -->
  <div class="comments" style="width:100%; padding-right:30px;">
    <% @reviews.each do |review| %>
      <div class="review-card" >
        <div class="row ">
          <div class="col-md-1">
            <div class="profile-pic">
              <%= profile_avatar review.user.profile_picture %>
            </div>
          </div>
          <div class="col-md-11 " style="padding-left: 11px; height:100%">
            <div class="review-details" >
                <div class="name-time">
              <% if review.spoiler %>
                <h3 class="spoiler">Spoiler</h3>
              <% end %>
              <h3><%= review.user.name %></h3>
              <h4><%= review.created_at.strftime("%d %B %Y") %></h4>
              <span class="review-rating">
                <%= star_rating(review.rating) %>
              </span>
            </div>
            <div class="user-comment">
              <p><%= review.comment %></p>
            </div>
            </div>
          
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
