<div class="row row-news">
  <div class="col-md-8">
    
    <div class="news-container">
      <%if current_user.has_role?(:site_admin) %>
      <div class="admin-utils">
        
      <p><%=link_to "Back to home", root_path, class:"back-genre" %></p>
<p><%=link_to "Edit News", edit_news_path(@news), class:"edit-genres"%></p>

  <%=button_to @news, method: :delete, class:"delete-btn" do%>
  <%=content_tag(:i, "", class:"fa-solid fa-trash")%>
  <%end%>

      </div>
      <%end%>
    <div class="image-container">
           <img src="<%=@news.image%>" alt="Description of image" class="news_image">
           <h1><%=@news.title%></h1>
    </div>
    <div class="news-description">
      <h4>Description</h4>
      <p><%=@news.description%></p>
   
      <div class="news-anime">
        <h3>Related Anime</h4>
          <%if !@animes.present?%>
          <div class="er">
<p>No Anime Related</p>
          </div>
          
          <%else%>
         <div class="anime-grid" id="anime-list">
            <% @animes.each do |anim| %>
            <%= render partial: "shared/anime_list", locals: {anime: anim} %>
            <% end %>
           
          </div>
          <%end%>
      </div>
    </div>
</div>
  </div>
  <div class="col-md-4 second" data-controller="show-more-news">
    <h3 class="second-head">Related Articles</h3>
    <div class="list" data-show-more-news-target="list" >
 <%@related_news.each do |relatednews|%>
    
<div class="news-card" data-id=<%=relatednews.id%>>
  <%= link_to news_path(relatednews), class:"card-link"  do%>
  <h3><%=relatednews.title%></h3>
  <div class="pic-des">
    <%=image_tag(relatednews.image, class:"related-image")%>
    <span class="related-text">
  <%= truncate(relatednews.description, length: 100, omission: "...") %>
</span>
  </div>
  <hr>
  <%end%>
</div>
    <%end%>
    </div>
   
    <div class="show-more-button" data-show-more-news-target="button" data-action="click->show-more-news#show" data-anime-id=<%=@news.id%> >
      <p>Show more News</p>
    </div>
  
  </div>
</div>
