<% content_for :title, "Contact" %>
<div class="content">
  <h1 class="home-header">Contact Me</h1>
  <div class="nav-card_container">
    <%= image_tag 'akat.png', class: 'contact-bg', width: '100%', height: '100%' %>

      <div class="na">
                  <nav class="navbar navbar-expand-lg " >
  <div class="container-fluid cf">
     <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nn"  >
        
          <%= render "shared/application_nav" %>

        <li class="nav-item">
 <div class="auth-links" style="padding-top: 5px;">
              <%= login_helper %>
            </div>
        </li>
        <li class="nav-item" style=" align-self:center; padding-top: 5px;">
           <div class="profile-avatar" style="padding-left: 5px;">
              <%=link_to  profile_path(current_user.slug) , class:"prav-link"  do%>
              <%=profile_avatar(current_user.profile_picture)  %>
              <%end%>
            </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
 <hr></hr>  
          </div>

   

      <div class="form-wrapper">
        <div class="contact-form">
          <%= form_with url: contact_dev_path, local: true do |f| %>
            <div class="contact-field" >
              <%= f.label :name %>
              <%= f.text_field :name, required: true, class: "wide-input", placeholder:"Your Name"%>
            </div>
            <div class="contact-field">
              <%= f.label :email %>
              <%= f.email_field :email, required: true, class: "wide-input", placeholder:"Your Email" %>
            </div>
            <div class="contact-field">
              <%= f.label :message %>
              <%= f.text_area :message, rows: 5, required: true, class: "wide-input", placeholder:"Your Mesaage" %>
            </div>
            <div class="contact-actions">
              <%= f.submit "Send", class: "send-button" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="sized-box"></div>
    </div>

</div>
