<% content_for :title, "Home" %>
    <div class="content" >
      <h1  class= "home-header">Home</h1>
      <div class="nav-card_container">
        <div class="nav-index0">
          <div class="na">
                  <nav class="navbar navbar-expand-lg " >
  <div class="container-fluid cf">
     <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nn"  >
        
          <%= render "shared/application_nav" %>

        <li class="nav-item">
 <div class="auth-links" style="padding-top: 5px;">
              <%= login_helper %>
            </div>
        </li>
        <li class="nav-item" style=" align-self:center; padding-top: 5px;">
           <div class="profile-avatar" style="padding-left: 5px;">
              <%=link_to  profile_path(current_user.slug) , class:"prav-link"  do%>
              <%=profile_avatar(current_user.profile_picture)  %>
              <%end%>
            </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
 <hr></hr>  
          </div>
      
 <div class="anime_info">
            <h1><%= anime_details(@int)&.title %></h1>
            <p><%= truncate_after_second_period(anime_details(@int)&.description) %></p>
            
            <%=button_to "Learn More", anime_path(ids_to_slug(@int)), class:"btn learn-more", method: :get%>
            <!-- <button class="btn learn-more">
              <p>Learn More</p>
            </button> -->
          
          </div>

         <div class="media-wrapper">
            <img src="<%= home_image_main @int %>" alt="Description of image" class="anime_image">
            <div class="anime_video">
              <%= render partial: "shared/home_video_thumb", locals: {id:@int} %>
            </div>
          </div>
    

        
        </div>
      <div class="nav-index1" data-controller="hover">
        
        <div class="special">
          <h6>Special for you</h6>
        </div>
              <div class="anime-grid" id="anime-list" data-hover-target="list">
            <% @animes.each do |anime| %>
            <%= render partial: "shared/anime_list", locals: {anime: anime, anime_index:anime} %>
            <% end %>
           
          </div>
          <button  data-hover-target="button"  id="load-more-btn" class="load-more" onclick="loadMoreAnime()"><%= raw BootstrapIcons::BootstrapIcon.new("arrow-right").to_svg %>
          </button>
       <%= render "shared/collection_container" %>  
       <div class="news-container">  
    <div class="nav-header">
      <h6>News</h6>
      <% if current_user.has_role?(:site_admin) %>
           <%= link_to new_news_path,  class:"create-anime-link" do%>
        <%=content_tag(:i,"", class:"fa-regular fa-file")%>
        <%end%>
        <% end %>
    </div>
    <div class="news-imagethumb">
      <img src="<%= news_thumb @news_int %>" alt="Description of image" class="news_image">
      <div class="news-thumb-info">
        <p><%=news_thumb_stamp @news_int%> ago</p>
        <h2><%=news_thumb_title @news_int%></h2>
        <div class="spacer"></div>
        <%=render partial: "shared/blob_button" ,locals: {title: "Read More"} %>
      </div>
    </div>
    <%=render "shared/news_grid"%>
    <!-- Show More Button -->
    <div class="show-more-container">
      <button class="show-more-btn"  onclick="showMoreNews()">Show More</button>
    </div>
    <div class="sized-box">
    </div>
    <%=render "shared/socials"%>
  </div>
</div>
      </div>
    </div>