

    <div class="content" >
      <h1  class= "home-header">Home</h1>
      <div class="nav-card_container">
        <div class="nav-index0">
          <div class="media-wrapper">
            <img src="<%= home_image_main @int %>" alt="Description of image" class="anime_image">
            <div class="anime_video">
              <%= render partial: "shared/home_video_thumb", locals: {id:@int} %>
            </div>
          </div>
          <div class="anime_info">
            <h1><%= anime_details(@int)&.title %></h1>
            <p><%= truncate_after_second_period(anime_details(@int)&.description) %></p>
            
            <%=button_to "Learn More", anime_path(ids_to_slug(@int)), class:"btn learn-more", method: :get%>
            <!-- <button class="btn learn-more">
              <p>Learn More</p>
            </button> -->
          
          </div>
          <div class="nav-container">
            <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
            <nav class="nav">
              <%= render "shared/application_nav" %>
            </nav>
            <div class="auth-links">
              <%= login_helper %>
            </div>
          </div>
          <hr></hr>
        </div>
      <div class="nav-index1">
        <div class="special">
          <h6>Special for you</h6>
        </div>
              <div class="anime-grid" id="anime-list">
            <% @animes.each do |anime| %>
            <%= render partial: "shared/anime_list", locals: {anime: anime, anime_index:nil} %>
            <% end %>
           
          </div>
          <button id="load-more-btn" class="load-more" onclick="loadMoreAnime()"><%= raw BootstrapIcons::BootstrapIcon.new("arrow-right").to_svg %>
          </button>
       <%= render "shared/collection_container" %>  
       <div class="news-container">  
    <div class="nav-header">
      <h6>News</h6>
    </div>
    <div class="news-imagethumb">
      <img src="<%= news_thumb @news_int %>" alt="Description of image" class="news_image">
      <div class="news-thumb-info">
        <p><%=news_thumb_stamp @news_int%> ago</p>
        <h2><%=news_thumb_title @news_int%></h2>
        <div class="spacer"></div>
        <%=render partial: "shared/blob_button" ,locals: {title: "Read More"} %>
      </div>
    </div>
    <%=render "shared/news_grid"%>
    <!-- Show More Button -->
    <div class="show-more-container">
      <button class="show-more-btn"  onclick="showMoreNews()">Show More</button>
    </div>
    <div class="sized-box">
    </div>
    <%=render "shared/socials"%>
  </div>
</div>
      </div>
    </div>