<% content_for :title, "Home" %>
    <div class="content" >
      <h1  class= "home-header">Profile</h1>
      <div class="nav-card_container">
        <div class="nav-index0" style="height: 35vh;">
     
  <div class="image-wrapper">
             <% if current_user.header_image.attached? %>
      <%= image_tag current_user.header_image, class: "anime_image" %>
    <% else %>
      <%= image_tag "back.jpeg", class: "anime_image" %>
    <% end %>
            
          </div>
          <div class="nav-container">
            <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
            <nav class="nav">
              <%= render "shared/application_nav" %>
            </nav>
         <div class="link-prof">
 <div class="auth-links">
              <%= login_helper %>
            </div>
            <div class="profile-avatar">
              <%=link_to  profile_path(current_user.slug) , class:"prav-link" do%>
              <%=profile_avatar(current_user.profile_picture)  %>
              <%end%>
            </div>
         </div>
           
          </div>
          <hr></hr>
               <div class="profile-header">
            <div class="circle-avatar">
              <%=profile_avatar current_user.profile_picture%>
            </div>
            <div class="profile-info">
              <h2><%=current_user.username%></h2>
              <h2><%=current_user.email%></h2>
            </div>
            <div class="image-controller">
            <%= form_with(model: current_user, url: update_header_path(current_user), method: :patch, html: { multipart: true }) do |form| %>
  
  
  <!-- Hidden input -->
  <%= form.file_field :header_image, id: "header_upload", accept: "image/*", style: "display: none;", onchange: "this.form.submit();" %>

  <!-- Pencil icon to trigger file picker -->
  <label for="header_upload" class="image-control">
    <i class="fa-solid fa-pencil"></i>
  </label>

<% end %>


            </div>
          </div>
        </div>
         <div class="collection-bottomsheet">
          <%= render 'shared/collection_modal' %>
        </div>
        <% if !current_user.is_a?(GuestUser) %>
      <div class="nav-index1">
    <div class="profile-collection">
       <ul class="tab-header" style="padding-top: 30px;">
    <li class="active"><%=content_tag(:i,"",class:"fa-regular fa-folder")%> Collections <%=@collection_count%></li>
  </ul>
  <div class="featured-collection">
    <h5>Featured Collections</h5>
    <div class="create-new">
      <%= content_tag(:i, " Create New", class:"fa fa-plus new-btn") %>
    </div>
  </div>
     
 <div class="collections" style="min-height: 310px;">     
        
         <% if @collection_animes.present?%>
          <div class="collection-profile">
            <%@collection_animes.each do |collection| %>
<div class="collection-card">
  <h3><%=collection.name%></h3>
  <div class="cards-container">
 <%collection.animes.each_with_index do |collection_anime, index|%>
     <div class="stacked-card <%= %w[card-left card-center card-right][index %3] %>">
      <img src="<%= collection_anime.thumb_image %>" alt="<%= collection_anime.title %>">
     </div>
 <%end %>
  </div>
</div>
            <%end %>
          </div>
          <%else %>
          <div class="no-collections">
<h4>No collections found</h4>
          </div>
<% end%>
 </div>

    </div>
</div>
 <%else%>
 <div class="not-logged">
  <p>Login to see your details</p>
 </div>
 <% end%>
      </div>
    </div>