<div class="login-container" style="width: 100%;">
  <div class="logo"><%=image_tag 'bleach.png'%></div>
  <div class="logo-1"><%=image_tag 'onepiece.png'%></div>
  <div class="logo-2"><%=image_tag 'naruto.png'%></div>
  <div class="logo-3"><%=image_tag 'dbz.png'%></div>
  <h2>Log in</h2>
 <div class="form-wrapper" style=" width:100%; margin-bottom:50px"> 
      <div class="contact-form" style="display: flex; width:100%;  padding-left:55px;">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div class="card-body" >
      <b><%= f.label :email %><br /></b> 
      <%= f.email_field :email, autofocus: true,  autocomplete: "email", class:"input-field" %>
      <% if resource.errors[:email].any? %>
      <% resource.errors.full_messages_for(:email).each do |msg| %>
        <div class="field-error"><%= msg %></div>
      <% end %>
    <% end %>
    </div>

 <div class="card-body">
       <div class="password-row" >
      <%= f.label :password,      class: 'label'%>
      <%= link_to "Forgot your password?", new_password_path(resource_name), class:'fp-login'%>
    </div>
      <%= f.password_field :password, autocomplete: "new-password",  class:"input-field"%>
      
      <% if params[:user] && params[:user][:password] && params[:user][:password].length < 6 %>
        <em style="color: red;">(Password must be at least 6 characters long)</em>
      <% end %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <label class="remember-me">
        <%= f.label :remember_me %>
        <%= f.check_box :remember_me%>
        
      </label>
    <% end %>
  
    <div class="actions">
      <%= f.submit "Log in" ,id: "sign-up-btn", class:'login-btn'%>
    </div>
  <% end %>
  <div class="bottom-login">
    <p>Don't have an account?</p>
    <%= render "devise/shared/links" %>
  </div>

</div>
 </div>

</div>
