<% content_for :title, "Home" %>

<div class="content">
  <h1 class="home-header">Home</h1>

  <div class="nav-card_container" style="background-color:#111111;">
    
    <!-- Top Navigation -->
    <div class="nav-container">
      <div class="nav-logo">
        <h3>Anime B</h3>
      </div>

      <nav class="nav">
        <%= render "shared/application_nav" %>
      </nav>

      <div class="link-prof">
        <div class="auth-links">
          <%= login_helper %>
        </div>
        <div class="profile-avatar">
          <%= link_to profile_path(current_user.slug), class: "prav-link" do %>
            <%= profile_avatar(current_user.profile_picture) %>
          <% end %>
        </div>
      </div>
    </div>

    <hr>

    <!-- Anime Catalog Section -->
    <div class="anime-index-container">
      
      <!-- Sort Header -->
<div  class="sort-wrapper">
  <div class="catalog-sort-by" data-controller="sort" >
    <h3>Catalog</h3>

    <!-- Dropdown trigger -->
    <div class="icon-text sort-trigger" data-action="click->sort#toggle">
      <p>Sort By</p>
      <i class="fa-solid fa-caret-down drop sort-arrow"></i>
    </div>

    <!-- Dropdown menu -->
    <div class="sort-dropdown" data-sort-target="smenu">
      <%= form_with url: animes_path, method: :get, local: true do %>
        <%= select_tag :sort, options_for_select([
          ["Title", "title"],
          ["Rating", "rating"],
          ["Latest", "latest"]
        ], params[:sort]), class: "sort-select" %>

        <%= submit_tag "Apply", class: "sort-btn" %>
      <% end %>
    </div>
  </div>
</div>




      <div class="row anime-structure">
        
        <!-- Year Filter Sidebar -->
        <div class="col-md-2 filter">
          <%=render "shared/year_filter" %>
          <%=render "shared/genre_filter"%>
          <%=render "shared/airing_filter"%>
        </div>

        <!-- Anime List -->
        <div class="col-md-10">
          <turbo-frame id="anime_list">
            <div class="catalog-grid">
              <% @animes.each do |anime| %>
                <%= render 'shared/catalog_list', anime: anime %>
              <% end %>
            </div>
          </turbo-frame>
        </div>

      </div>
    </div>
  </div>
</div>
