<% content_for :title, "Home" %>

<div class="content">
  <h1 class="home-header">Home</h1>

  <div class="nav-card_container" style="background-color:#111111;">
    
     <div class="na">
                  <nav class="navbar navbar-expand-lg " >
  <div class="container-fluid cf">
     <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nn"  >
        
          <%= render "shared/application_nav" %>

        <li class="nav-item">
 <div class="auth-links" style="padding-top: 5px;">
              <%= login_helper %>
            </div>
        </li>
        <li class="nav-item" style=" align-self:center; padding-top: 5px;">
           <div class="profile-avatar" style="padding-left: 5px;">
              <%=link_to  profile_path(current_user.slug) , class:"prav-link"  do%>
              <%=profile_avatar(current_user.profile_picture)  %>
              <%end%>
            </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
 <hr></hr>  
          </div>

    <!-- Anime Catalog Section -->
    <div class="anime-index-container">
      <div class="create-anime">
        
        <% if current_user.has_role?(:site_admin) %>
           <%= link_to new_anime_path,  class:"create-anime-link" do%>
        <%=content_tag(:i,"", class:"fa-regular fa-file")%>
        <%end%>
        <% end %>
        
       
      </div>
      <!-- Sort Header -->
<div  class="sort-wrapper">
  <div class="catalog-sort-by" data-controller="sort" >
    <h3>Catalog</h3>

    <!-- Dropdown trigger -->
    <div class="icon-text sort-trigger" data-action="click->sort#toggle">
      <p>Sort By</p>
      <i class="fa-solid fa-caret-down drop sort-arrow"></i>
    </div>

    <!-- Dropdown menu -->
    <div class="sort-dropdown" data-sort-target="smenu">
      <%= form_with url: animes_path, method: :get, local: true do %>
        <%= select_tag :sort, options_for_select([
          ["Title", "title"],
          ["Rating", "rating"],
          ["Latest", "latest"]
        ], params[:sort]), class: "sort-select" %>

        <%= submit_tag "Apply", class: "sort-btn" %>
      <% end %>
    </div>
  </div>
</div>




      <div class="row anime-structure">
        
        <!-- Year Filter Sidebar -->
        <div class="col-md-2 filter">
          <%=render "shared/year_filter" %>
          <%=render "shared/genre_filter"%>
          <%=render "shared/airing_filter"%>
        </div>

        <!-- Anime List -->
        <div class="col-md-10">
          <turbo-frame id="anime_list">
            <div class="catalog-grid" style="overflow: hidden;">
              <% @animes.each do |anime| %>
                <%= render 'shared/catalog_list', anime: anime %>
              <% end %>
            </div>
          </turbo-frame>
        </div>

      </div>
    </div>
  </div>
</div>
