

<div class="anime-content">
    <div class="sized-box"></div>
    <div class="nav-card_container">
      <div class="nav-index0" style="min-height: 300px;">
           <div class="na">
                  <nav class="navbar navbar-expand-lg " >
  <div class="container-fluid cf">
     <div class="nav-logo">
              <h3>Anime B</h3>
            </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nn"  >
        
          <%= render "shared/application_nav" %>

        <li class="nav-item">
 <div class="auth-links" style="padding-top: 5px;">
              <%= login_helper %>
            </div>
        </li>
        <li class="nav-item" style=" align-self:center; padding-top: 5px;">
           <div class="profile-avatar" style="padding-left: 5px;">
              <%=link_to  profile_path(current_user.slug) , class:"prav-link"  do%>
              <%=profile_avatar(current_user.profile_picture)  %>
              <%end%>
            </div>
        </li>
      </ul>
    </div>
  </div>

</nav>
 <hr></hr>  
          </div>
        <div 
  class="review-bottomsheet <%= "active" if @review.errors.any? %>" 
  data-controller="review-bottomsheet" 
  data-review-bottomsheet-target="sheet" 
>
  
  <%= render 'shared/review_modal' %>
 </div>
       <div class="anime-trailer">
  <div class="video-wrapper">
    <%= render partial: "shared/home_video_thumb", locals: { id: @anime.id } %>
  </div>
</div>
<div class="trailer-wrap" >
<%= link_to @anime.thumb_video_url , class:"trailer-link" do %>
          <div class="btn trailer-btn">
            
            <%=content_tag(:i , " Watch Trailer", class:"fa fa-play-circle", )%>
      
          </div>
              <%end%>
</div>

      
      </div>
      <div class="anime-description">
<div class="card-title" > 
<div class="cover-card" style="background-color: chartreuse;">
  <%=image_tag(@anime.thumb_image, class:'cover-img')%> 
</div>
<div class="card-row">
  <div class="name-header">
    <h1><%=@anime.title%></h1> 
    <% if current_user.has_role?(:site_admin)  %>
      <%= link_to edit_anime_path(@anime), class:"edit-anime-link" do %>
  <%=content_tag(:i,"", class:"fa-solid fa-pencil pencil" )%>
    <% end %> 
  
<%end%>
  </div>
<div class="star">
  <%= content_tag(:i, " #{@anime.rating}", class: "fas fa-star star-icons") %> 
  
</div>
<%=render 'shared/collection_wrapper'%>
</div>
</div>
<div class="anime-tabs" 
     data-controller="tabs"
     data-initial-tab="<%= @review.errors.any? ? "reviews" : "overview" %>">
  <ul class="tab-header">
    <li class="active" data-tab="overview"  overview-id="overview-id">Overview</li>
    <li data-tab="reviews" reviews-id="reviews-id">Reviews</li>
  </ul>

  <div class="tab-body" id="overview">
  <%=render partial:"shared/overview" , locals:{anime: @anime}%>
  </div>
  <div class="tab-body" id="reviews" style="display: none;">
<%=render 'shared/review_tab' %> 
  </div>
</div>


     </div>
    </div>
  </div>

