

<div class="anime-content">
    <div class="sized-box"></div>
    <div class="nav-card_container">
      <div class="nav-index0" style="height: 300px;">
        <div class="anime-trailer" style="width: 100%">
          <%= render partial: "shared/home_video_thumb", locals: {id:@anime.id} %>
          </div>
          <div class="btn trailer-btn">
            <%=content_tag(:i , " Watch Trailer", class:"fa fa-play-circle", )%>
          </div>
        <div class="nav-container""> 
          <div class="nav-logo">
            <h3>Anime B</h3>
          </div>
          <nav class="nav">
            <%= render "shared/application_nav" %>
          </nav>
          <div class="auth-links">
            <%= login_helper %>
          </div>
        </div>
        <hr></hr>
      </div>
      <div class="anime-description">
<div class="card-title"> 
<div class="cover-card">
  <%=image_tag(@anime.thumb_image, class:'cover-img')%> 
</div>
<div class="card-row">
<h1><%=@anime.title%></h1>
<div class="star">
  <%= content_tag(:i, "", class: "fas fa-star star-icon") %> 
  <p><%= @anime.rating%></p>
</div>
<%=render 'shared/collection_wrapper'%>
</div>
</div>
<div class="anime-tabs" 
     data-controller="tabs"
     data-initial-tab="<%= @review.errors.any? ? "reviews" : "overview" %>">
  <ul class="tab-header">
    <li class="active" data-tab="overview"  overview-id="overview-id">Overview</li>
    <li data-tab="reviews" reviews-id="reviews-id">Reviews</li>
  </ul>

  <div class="tab-body" id="overview">
  <%=render partial:"shared/overview" , locals:{anime: @anime}%>
  </div>
  <div class="tab-body" id="reviews" style="display: none;">
<%=render 'shared/review_tab' %> 
  </div>
</div>
<div 
  class="review-bottomsheet <%= "active" if @review.errors.any? %>" 
  data-controller="review-bottomsheet" 
  data-review-bottomsheet-target="sheet" 
>
  
  <%= render 'shared/review_modal' %>
 </div>

     </div>
    </div>
  </div>

