<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for(:title) || @title_default %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
   <%=favicon_link_tag "favicons/favicon.ico"%>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_include_tag "anime_loader"%>
    <%= javascript_include_tag "news_show"%>
    <%= javascript_include_tag "collection_bottomsheet"%>
    <%= stylesheet_link_tag 'application', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>




  </head>
  <body  data-excluded-id="<%= @anime&.id || @int || '' %>" news-excluded-id="<%=@news_int%>" data-page-type="<%= @anime.present? ? 'show' : 'home' %>">
    <%= yield %>
  <%= render "shared/application_footer" , backgroundcolor:"#000;", color:"white"%>

   <%= session_helper %>

  </body>

</html>
